<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>futer</title>
</head>
<body data-th-fragment="futer">
	<div id="contacto">
		<div class="p-2">
			 <h2>Contacto</h2>
	         <ul class="list-group list-group-flush">
	             <li class="list-group-item bg-black text-white"><h4>FACULTAD DE INGENIERÍA - UNJu</h4></li>
	             <li class="list-group-item bg-black text-white">
	                 <p>Dirección: Ítalo Palanca Nº 10</p>
	                 <p>Teléfono: 0388 422-1580</p>
	                 <p>Email: info@fi.unju.edu.ar</p>
	             </li>
	         </ul>
	    </div>
	    <div class="p-2">
	        <ul class="list-group list-group-flush">
	            <li class="list-group-item bg-black text-white"><h4>Redes Sociales</h4></li>
	            <li class="list-group-item bg-black">
	                <p><a class="link-primary link-underline link-underline-opacity-0" href="https://www.facebook.com/fiunju/">Facebook</a></p>
	                <p><a class="link-danger link-underline link-underline-opacity-0" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">YouTube</a></p>
	                <p><a class="link-info link-underline link-underline-opacity-0" href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">LinkedIn</a></p>
	                <p><a class="link-warning link-underline link-underline-opacity-0" href="https://www.instagram.com/fiunju/">Instagram</a></p>
	            </li>
	        </ul>
	    </div>
    </div>
    <div class="p-2">
        <h4>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</h4>
    </div>
</body>
</html>