<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>asidde</title>
</head>
<body data-th-fragment="asidde">
	<div id="recursosadicionales">
		<div class="p-2 bg-primary-subtle text-primary-emphasis">
			<h3>Recursos Adicionales</h3>
	            <div class="d-flex flex-column">
	                <a class="p-2" href="https://www.fi.unju.edu.ar/servicios/biblioteca.html" target="_blank"><img alt="Biblioteca" src="img/Biblioteca-FI.jpg"></a>
	                <p class="p-2 fw-medium">La biblioteca de la Facultad de Ingeniería ofrece una amplia colección de libros, revistas y recursos electrónicos para apoyar el aprendizaje y la investigación de los estudiantes y docentes.</p>
	                <a class="p-2" href="https://campus.fi.unju.edu.ar" target="_blank"><img alt="Campus Virtual" src="img/Campus.png"></a>
	                <p class="p-2 fw-medium">El campus virtual permite a los estudiantes acceder a materiales de estudio, realizar actividades en línea y comunicarse con sus profesores desde cualquier lugar.</p>
	                <a class="p-2" href="https://www.fi.unju.edu.ar/siu-guarani-alumnos" target="_blank"><img alt="SIU Guaraní" src="img/Logo_guarani.png"></a>
	                <p class="p-2 fw-medium">El sistema SIU Guaraní es una herramienta esencial para la gestión académica, permitiendo a los estudiantes realizar trámites como inscripciones y consultas de notas de manera eficiente.</p>
	            </div>
		</div>
	</div>
</body>
</html>